/* text fill for all elements */
.element {
    -fx-text-fill: black;
}

/* font size classes */
.nameFont{
   -fx-font-size: 15px;
}
.elementFont{
   -fx-font-size: 11px;
}

/* button class with hover/pressed styling to give more feedback to the user
   visible only on box:hover */
.button {
    -fx-background-color: #989898;
    visibility: hidden;
}

.button:hover {
    -fx-background-color: #202020;
}

.button:pressed {
    -fx-background-color: #000000;
}

/* show button on box:hover */
.box:hover .button {
    visibility: visible;
}

.box:hover .element {
    -fx-text-fill: white;
}

/* styling the list and boxes inside */
.list {
    -fx-background-color: #B8B8B8;
}

.box {
    -fx-padding:10px;
}

.box:hover {
    -fx-background-color: #505050;
}

 /* disable class for inaccessible channels */
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    -fx-text-fill: #888888;
}
