/* Font imports */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

/* Font classes */

.roboto {
     -fx-font-family: "Roboto";
}

.roboto-bold {
     -fx-font-family: "Roboto Bold";
}

/* Font sizes */

.title {
    -fx-font-size: 26px;
}

.subtitle {
    -fx-font-size: 24px;
}

.regular {
    -fx-font-size: 20px;
}

/* Button class with hover/focused/pressed styling to give more feedback to the user */

.button {
    -fx-background-color: #A6A6A6;
    -fx-text-fill: #fbfbfb;
}

.button:hover, .button:focused {
    -fx-background-color: #737373;
}

.button:pressed {
    -fx-background-color: #5A5A5A;
}

/* Error labels */

.error {
    -fx-text-fill: #c60d0d;
    -fx-background-color: #f9a9a9;
    -fx-border-color:#c60d0d;
    -fx-label-padding:5px;
}

/* Utility classes */

.strikethrough .text {
    -fx-strikethrough: true;
}