/* Button class with hover/focused/pressed styling to give more feedback to the user */

.button {
    -fx-background-color: #A6A6A6;
}

.button:hover, .button:focused {
    -fx-background-color: #737373;
}

.button:pressed {
    -fx-background-color: #5A5A5A;
}

#membersButton {
    -fx-padding:0px 12px 0px 5px;
}

.menubutton > .arrow-button{
    -fx-padding: 10px;
}

.menubutton > .label{
    -fx-padding: 0;
}

/* Messages board */
.scroll-pane > .viewport {
   -fx-background-color: white;
}

.scroll-pane {
   -fx-background-color: none;
}