.clickable{
    -fx-cursor: hand;
}

.link{
    -fx-text-fill: #000;
    -fx-border-color:  #A6A6A6;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-background-color: white;
    -fx-underline: false;
}

.link:hover{
    -fx-background-color: #C4C4C4;
    -fx-underline: false;
}

.link:pressed, .link:focused{
    -fx-underline: false;
    -fx-background-color: #B8B8B8;
}